# Airflow Providers
apache-airflow-providers-postgres==5.5.1

# Data Processing
pandas==2.0.3
requests==2.31.0

# Database
psycopg2-binary==2.9.7

# Version Control
dvc==3.30.0
gitpython==3.1.40

# Utilities
python-dateutil==2.8.2
astro-run-dag # This package is needed for the astro run command. It will be removed before a deploy